<h2>Athlete Database</h2>
<hr>
<div class="wrapper">
<%= form_tag("/athletes/create_athlete", method: "post") do %>
	<label>First Name:</label>
	<input type="text" name="first_name"/>
	<label>Last Name:</label>
	<input type="text" name="last_name"/>
	<label>Training hours per week:</label>
	<input type="integer" name="training_hours_per_week"/>
	<label>Sports:</label>
	<select name="sports">
		<option value="Fencing">Fencing</option>
		<option value="Basketball">Basketball</option>
		<option value="Yung puso ko">Yung puso ko</option>
	</select>
	<input type="submit" value="Save Contact"/>
<% end %>
</div>
<hr>
<a href="/"><h2>Return to Home</h2></a>
<a href="/athletes"><h2>Go to Athlete Database</h2></a>
<a href="/athletes/add_athlete"><h2>Add an Athlete's Information</h2></a>