<h2>Athlete Database</h2>
<hr>
<div class="wrapper">
<ol>
	<% @athlete.each do |athlete| %>
	<li><span class="bold"><%= "#{athlete.first_name} #{athlete.last_name}: "%></span><%= "#{athlete.training_hours_per_week} hours of training per week - #{athlete.sports}" %> <span class="bold">SPORT</span></li>
	<% end %>
</ol>
</div>
<hr>
<a href="/"><h2>Return to Home</h2></a>
<a href="/athletes"><h2>Go to Athlete Database</h2></a>
<a href="/athletes/add_athlete"><h2>Add an Athlete's Information</h2></a>