<div class="master-container">
	<h1>Welcome to the Athlete Database</h1>
	<div class="container">
		<a href="/athletes"><h2>Go to Athlete Database</h2></a>
		<a href="/athletes/add_athlete"><h2>Add an Athlete's Information</h2></a>
	</div>
</div>